@tailwind base;
@tailwind components;
@tailwind utilities;


body_y   {
  background-image: url('../public/taj.jpg'); /* Replace with your image path */
  background-size: cover; /* Adjust background image size */
  background-repeat: no-repeat; /* Prevent image repetition */
  /* Other styles like background-position, background-color, etc. */
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}

.flip-horizontal {
  transform: scaleX(-1);
}

.test-bdr {
  border: 1px solid black;
}

@font-face {
  font-family: 'MyFont'; /* Your chosen font-family name */
  src: url('../public/fonts/font3.ttf') format('truetype');
  /* Add other font formats if necessary */
  font-weight: normal;
  font-style: normal;
}




