@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-image: url('../public/taj.jpg'); /* Replace with your image path */
  background-size: cover; /* Adjust background image size */
  background-repeat: no-repeat; /* Prevent image repetition */
  /* Other styles like background-position, background-color, etc. */
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}

.flip-horizontal {
  transform: scaleX(-1);
}

.test-bdr {
  border: 1px solid black;
}




